
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="EFCrud" asp-action="CreateSample">Create Sample</a>
<a asp-controller="EFCrud" asp-action="UpdateSample">Update Sample</a>
<a asp-controller="EFCrud" asp-action="DeleteSample">Delete Sample</a>
<a asp-controller="EFCrud" asp-action="DeleteSampleAsync">Delete Sample Async</a>
<a asp-controller="EFCrud" asp-action="TransactionSample">Transaction Sample</a>
<a asp-controller="EFCrud" asp-action="StoreProcedureSample">Store Procedure Sample</a>

